#modifiant{
    padding: 20px 10px;
img{
    border-radius: 50% 0 50% 50% ;
}
p{
    font-size: 17px;
            color: gray;
            font-weight:bold;
            line-height: 2rem;
}
}
#dounia{
    background-image: url("../../public/ciel.jpg") !important;
    background-attachment: fixed;
    height: 100%;
}

@media(max-width:850px){
    #modifiant{
        p{
            font-size: 17px;
                font-weight:400;
                line-height: 1.8rem;
                color: gray;
        }
    }
}
