@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poppins&family=Raleway&family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@500&family=Hedvig+Letters+Serif:opsz@12..24&family=Heebo:wght@500&family=Indie+Flower&family=Kalnia:wght@600&family=Lato&family=Montserrat+Alternates:ital@1&display=swap');

.back{
    background-image: url("/toukra-project/historique.jpg");
    width: 100%;
    height: 84vh;
    // background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
// @keyframes okay {
//     0%{
//         background-image: url("/toukra-project/reel4.jpg");

//     }
//     50%{
//         background-image: url("/toukra-project/reel1.jpg");

//     }
//     100%{
//         background-image: url("/toukra-project/reel5.jpg");

//     }
// }
.back1{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.208);
    width: 100%;
    height: 84vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 20vh;
}

.back1 h2{
    font-family:'Edu TAS Beginner',sans-serif;
    color: white;
    font-weight: bold;
    font-size: 66px;
    margin: 0 10px;
}
.back1 p{
    color: white;
    font-size: 25px;
}

.back1 button:nth-child(1){
    border: 1px solid white;
    border-bottom: 1px solid white !important;
    padding: 6px 20px;
    color: #0c9cda;
    margin: 0 8px;
    font-size: 20px;
    transition: .33s linear;
    background-color: white !important;
}
.back1 button:nth-child(1):hover{
    background-color: white !important;
    color: #0c9cda;
}
.back1 button:nth-child(2){
    border: 1px solid #0c9cda;
    padding: 6px 20px;
    color: white;
    margin: 0 8px;
    font-size: 20px;
    transition: .33s linear;
    background-color: #0c9cda !important;

}
.back1 button:nth-child(2):hover{
    background-color: #0c9cda !important;
    color: white;
}

@media(max-width:1100px){
    .back{
        background-attachment:scroll;
        width: 100%;
        height: 60vh;
        background-position: center;
    }
    .back1{
        position: absolute;
        width:100%;
        height: 60vh;
        padding-top: 16vh;
    }
}



@media(max-width:766px) {
    .back{
        background-attachment:scroll;
        width: 100%;
        height: 45vh;
        background-position: center;
    }
    .back1{
        position: absolute;
        width:96%;
        height: 45vh;
        padding-top: 14vh;
    }
    .back1 h2{
        font-family:'Edu TAS Beginner', sans-serif;
        color: white;
        font-weight: bold;
        font-size: 28px;
        margin: 0 10px;
    }
    .back1 p{
        color: white;
        font-size: 16px;
    }
    
    .back1 Link{
        border: 1px solid white;
        padding: 3px 7px;
        color: #0c9cda;
        margin: 0 8px;
        font-size: 18px;
        transition: .33s linear;
    }
    Link{
        background-color: white !important;
    }
    .back1 button:nth-child(1):hover{
        background-color: white;
        color: #0c9cda;
    }
    .back1 button:nth-child(2){
        border: 1px solid #0c9cda;
        padding: 3px 7px;
        margin: 0 8px;
        font-size: 18px;
        transition: .33s linear;
        background-color: #0c9cda !important;
        color: white;
    
    }
    .back1 button:nth-child(2):hover{
        background-color: #0c9cda;
        color: white;
    }
    
}
// _____________+++++++++++++++++++++++============================= the end of the news try_________+++++++++++++++++++===============
// #my-image{
//     content:'';
// }

.my-image{
    #div{
        background-attachment: fixed;
        background:rgba(1, 1, 78, 0.573);
        width: 100vw;
        height: 100%;
        // padding-right: 2%;
        padding-top: 6%;

    }
}
.react-multi-carousel-list button{
    background-color: transparent !important;
}
// _______++++++++++++++++================== the carousell element and is own element_________+++++++++++++++=========================

.my-image h2{
    font-family:'Oswald', Times, serif;
    padding: 0%;
    font-size: 60px;
    font-weight: bold;
    color:white;
    margin: 0 90px;

}
.my-image button{
    background-color: transparent;
    border: 1px solid white;
    padding: 10px 20px;
    color: white;
    transition: .2s linear;
}
.my-image button:hover{
    background-color:#0c9cda !important;
    border:1px solid #0c9cda;
}
.my-image p{
    font-size: 25px;
    color: white;
}

@media(max-width:766px){
    .my-image{
        #div{
            background-attachment: fixed;
            width: 100vw;
            height: 100%;
        //   padding-right: 8%;
          padding-top: 10%;
        }
    }
    .my-image button{
        background-color: transparent;
        border: 1px solid white;
        padding: 3px 6px;
        color: white;
        transition: .2s linear;
    }
    .my-image h2{
        font-family:'Oswald', Times, serif;
        padding: 0%;
        font-size: 20px;
        font-weight: bold;
        padding: 0 -10px;
        margin: 0 10px;
    }
    .my-image p{
        font-size: 16px;
    }
}
//___________++++++++++++++++++++++++++=============== the en den of the ++++++++++++++++++++=======================================

@media(min-width:766px){
   

    .react-multi-carousel-list .my-image:before{
        background-color: white !important;
    }
    .react-multi-carousel-list ul {
        content:'';
        background: transparent !important; 
       
            // li{
            //     background-color: white;
            // }
    }
    .react-multi-carousel-list button{
        // background: #36b7ee !important;
        z-index: 1;
        // position: absolute;
        // bottom: 35%;
        // margin-left: 80%;
    }
    .my-image img{
        z-index: 1;
    }
    
}
