@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poppins&family=Roboto:wght@300;400;500&display=swap');


.divider {
    font-size: 10px;
    display: flex;
    align-items: center;
    width: 105px;
  }

  #footer {
    h3{
        font-family: "Oswald",sans-serif;
        font-weight: 600 !important;
        font-size: 20px;
    }
   
  }
  #footer ul li{
    padding: 5px 0;
    color: gray;
  }
  #footer p{
    font-size: 16px;
    font-weight: 400;
    font-family: "Roboto",sans-serif;
    color: gray;
    margin: 2px 4px;
  }

  #footer h2{
    font-size: 20px;
    font-weight: bold;
}

#lastf hr{
    border: 1px solid gray;
    margin: 2px 5%;
}
#lastf{
    padding: 10px;
    div{
        padding: 10px 5%;
        p{
            font-size: 16px;
    font-weight: 500;
    font-family: "Roboto";
    color: rgb(44, 44, 44);
        }
    }
    h2{
        font-size: 20px;
        font-weight: bold;
    }
}

@media(max-width:766px){
    #lastf hr{
        border: 1px solid gray;
        margin: 1px 2%;
    }
    #lastf{
        padding: 10px;
        div{
            padding: 10px 2%;
            p{
                font-size: 15px;
        font-weight: 500;
        color: rgb(44, 44, 44);
        font-family: 'Times New Roman', Times, serif;
            }
        }
        h2{
            font-size: 20px;
            font-weight: bold;
        }
        
    }
}