@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poppins&family=Roboto:wght@300;400;500&display=swap');

// the header none on the small screen +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
@media(max-width:765px){
  #myheader{
    display: none;
  }
}
//+++++++++=============++++++++++++++++++++++++++ the navbar of the element ++++++++++++++++================================+++++++++++++++++++++++++

.divider {
    font-size: 10px;
    display: flex;
    align-items: center;
    width: 105px;
  }
  // #headerNav{
  //  z-index:1;

  // }
//++++++++=============================================the dropdown and is menu++++++++++++++++++++++=====================================+++========
@media(min-width:766px){
#btn{
  display: none;
}


  #dropdown{
    position: absolute;
    right: 0;
    left: 0;
    background-color:white;
    padding: 10px 10px;
    opacity: 0;
   margin-top: 20px;
    visibility: hidden;
    display: none;
    animation: felix .14s linear;
    z-index: 20000;
    cursor: pointer;

 
    div{
       div{
        border-left: 1px solid gray;
        padding: 10px 10px;
       }
    }
    //+++++++++++++++++++++++++++++++++============================= the navbar dropdown element ul ++++++++++++++++++++++++============================================
    .dropdown_ul{
       
        li{
            color: black !important;
            font-weight:500 !important;
            padding: 12px 0 !important;
         cursor:pointer;
            font-size: 16px;
        }
        li:hover{
          background-color: gainsboro;
        }
    }
  }
// ________+++++++++++++++================== the dropdown menu and is own element ____________++++++++++++++++++======================
  #dropdown1{
    position: absolute;
    background-color:white;
    padding: 10px 0;
    opacity: 0;
   margin-top: 20px;
    visibility: hidden;
    display: none;
    animation: felix .14s linear;
    z-index: 20000;
    width: 20%;
   margin-left: -6%;
   cursor: pointer;

  }

  #dropdown1 ul li{
    color: black !important;
            font-weight:500 !important;
            padding: 12px 10px !important;
         cursor:pointer;
            font-size: 16px;
            padding: 10px;
  }
  #dropdown1 ul li:hover{
  background-color: 
  gainsboro;
 
  }

  .dropdown_2:hover #dropdown1{
    opacity: 1;
    visibility:visible;
    display: block;

  }

  // ________________++++++++++++++++++++++============ the dropdown menu bibliotheques ___________++++++++++++++++++++==================

  #dropdown2{
    position: absolute;
    background-color:white;
    padding: 10px 0;
    opacity: 0;
   margin-top: 20px;
    visibility: hidden;
    display: none;
    animation: felix .14s linear;
    z-index: 20000;
    width: 11.7%;
    margin-left:-4.1%;
    cursor: pointer;
   }
  #dropdown2 ul li{
    color: black !important;
            font-weight:500 !important;
            padding: 12px 0 !important;
         cursor:pointer;
            font-size: 16px;
            padding: 10px 10px !important;
  }
  #dropdown2 ul li:hover{
    background-color: gainsboro;
  }
  .dropdown_3:hover #dropdown2{
    opacity: 1;
    visibility:visible;
    display: block;
  }
  // +++++++++++++++=============================the animation on under the li element +++++++++++++++++++==============================================================

  @keyframes felix {
    0%{
  margin-top: 40px;
    }
    100%{
        margin-top: 20px;
    }
  }


  // +++++++++++++++=================== the element dropdown_1++++++++++++++++++++++++++===============================================================

  .dropdown_1{
    padding: 15px 0;
    // border-bottom: 3px solid white;
    border-bottom: 3px solid inherit;
    transition: .14s linear;
    border-bottom: 3px ;
    cursor: pointer;
  }
  // .dropdown_2{
  //   border-bottom: 3px solid rgb(197, 193, 193);
  // }
  .dropdown_1:hover{
    padding: 15px 0;
    

  }
  // +++++++++++++++++========================= the show navbar on the hover when the mouse come in +++++++++++++++++++=======================================
  
  .dropdown_1:hover #dropdown{
    opacity: 1;
    visibility:visible;
    display: block;
  }
}

// +++++++++++++++++++++++++===================================== the shrink navbar when the navbar reach the top of 350px +++++++++++++++++++++++=======================

#nav{
  background-color: white;
  position: fixed;
  top: -450px;
  width: 100%;
  display: block;
  transition: top 0.3s;
  z-index: 100;
  padding-top: 0 !important;
 
}
#header{
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
  transition: top 0.3s;
  z-index: 100;
  padding-top: 0 !important;
}

//   +++++++++++++++====================================the end of menu hamburger++++++++++++++++++++++++++++++================================
  
  .divider::before, .divider::after {
    flex: 1;
    content: '';
    padding: .33px;
    background-color: #2dc0fe;
    margin: 5px;
  }
  .icon{
   display:none;
   }

  //  the headernav on the small screen +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++=========================================


  #headerNav{
    h3{
        font-family: "Oswald",sans-serif;
        font-weight: 600 !important;
        font-size: 20px;
    }

  
    ul{
        margin: 0;
        li{
            font-family: "Roboto",'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-weight: 600;
            font-size: 16px;
            font-style: normal;
            padding: 15px 0;
        }
    }

    .dropdown_ul{
      li{
        color: black !important;
      }
    }
  }

  // +++++++++++++++++=============================================== @media query on the small phone and mobile++++++++++++++++++++===========================
  
  @media(max-width:765px){
    #dropdown{
      display: none;
    }
    #dropdown1{
      display: none;
    }
    #dropdown2{
      display: none;
    }
    .icon{
        display:block;
        position:fixed;
        right: 18px;
    }
  
    .btn{
        width: 20px;
        height: 2px;
        background-color:white;
        margin: 4px 3px;
        font-family: "Roboto",sans-serif;
      }
      // +++++++++++++++++===================the id for ul element ++++++++++++=====================================================

      #headerNav {

        ul{
          background-color: white !important;
          z-index: 2000;
          width: 100%;
          top: 0;
          height: 100vh;
          padding: 20px;
          overflow-y: scroll;
          position: fixed;
        }
      #hid{
        position: absolute !important;
        margin-top: 100% !important;
        height: 100vh !important;
        left: 0 !important;
      
      }
      }

    #hid{
        transform: translateX(-1000%);
        transition: 1s linear;
       height: 100vh;
       width: 100%;
      
    }
    #hid .active{
        transform: translateX(0);
        transition: .55s linear;
            }

           

            // +++++++++++++++++++==================== the end of id element of the ul element ++++++++++===========================


    .divider {
        font-size: 10px;
        display: flex;
        align-items: center;
        width: 100px;
      }
      
      .divider::before, .divider::after {
        flex: 1;
        content: '';
        padding: .33px;
        background-color: rgb(45, 192, 254);
        margin: 4px;
      }
  }
  