.image:before{
    content: " ";
    background-image: linear-gradient(#0b1c39be,#0b1c39c4);
    position: relative;
}

#animate img{
    position: absolute;
    animation: delta 4s linear infinite;
}
#animate p{
    z-index: -10;
}
@keyframes delta {
    0%{
        margin-bottom:20%;
        // margin-left: 30px;
        // margin-right: 45px;
    }
    50%{
        margin-top:70% ;
        margin-right: 20%;
        margin-left: 50%;
    }
    90%{
        margin-top:20% ;
        // margin-right: 20%;
        margin-left: 80%;
    }
    100%{
        margin-bottom: 3%;
    }
}
#doublebtn button{
background-color:rgba(0, 0, 0, 0.598);
position: absolute;
margin-top: -20px;
margin-left:-50px ;
margin-right:-50px ;
}
#mode2 p{
    font-size: 18px;
    color: gray;
}
#mode2 h2{

    font-size: 14px;
    font-weight: 500;
    color: gray;
}
// __________++++++++++++++++++++++++++++++++________________================== the p tag modifiable______+++++++++++++++++++++++++++___________________=========

#mode p{
font-size: 16px;
font-weight: 500;
font-family: "Roboto",sans-serif;
color: gray;
}
#mode h4{
    font-weight: bold;
    font-size: 26px;
}

#mode1 p{
    font-weight:500;
    color: rgb(60, 59, 59);
    line-height: 2.3rem;
}

@media(max-width:1050px){
    #doublebtn button{
        position: absolute;
        margin-top: -35px;
        margin-left:-10px ;
        margin-right:-10px ;
        font-size: 12px;
        width: 10px;
        padding: 2px;
        }
    #mode h4{
        font-weight: bold;
        font-size: 18px;
    }
    #mode1 p{
        font-weight:500;
        color: rgb(60, 59, 59);
        line-height: 1.7rem;
        font-size: 16px;
    }
    #mode p{
        font-size: 16px;
        font-weight:400;
        }

        #mode2 p{
            font-size: 18px;
            color: gray;
        }
        
}