#fon{
    background-color:rgb(13, 193, 238);
}
#btn2{
    background: rgba(229, 31, 31, 0.772);
    color:white;
    font-weight: 500;
    font-size: 14px;
    padding: 6px 30px;
    margin: 10px 0;
    border-radius: 5px;
}
#btn3{
    background: rgb(13, 193, 238);
    color:white;
    font-weight: 500;
    font-size: 14px;
    padding: 6px 30px;
    margin: 10px 0;
    border-radius: 5px;
}